<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assisting Agriculture Using AI</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Assisting Agriculture Using AI</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="home" class="hero">
        <div class="overlay"></div>
        <div class="content">
            <h1>Assisting Agriculture Using AI</h1>
            <p>Get information details about your Farming Strategy</p>
        </div>
    </section>
    
    
    <section id="about" class="about-section">
        <h2 >About Us</h2>
        <div class="about-content">
            <img src="https://img.freepik.com/premium-photo/field-soybean-with-sunset-background_987032-41040.jpg" alt="About Agriculture">
            <p>We use state-of-the-art machine learning and deep learning technologies to help you guide through the entire farming process. Make informed decisions to understand the demographics of your area, understand the factors that affect your crop, and keep them healthy for a super awesome successful yield.</p>
        </div>
    </section>
    
    <section id="services" class="services-section">
        <h2>Our Services</h2>
        <div class="service-cards">
            <div class="card">
                <img src="https://img.freepik.com/premium-photo/sustainable-development-goals-sdgs-are-concept-environmental-technology_76964-66297.jpg" alt="Crop Recommendation">
                <h3>Crop</h3>
                <p>Recommendation about the type of crops to be cultivated best suited for respective conditions.</p>
                <a href="/crop"><button class="service-btn">View Details</button></a>
            
            </div>
            <div class="card">
                <img src="https://th.bing.com/th/id/OIP.EmPgEAVB7bq6FPSkKBD8JQHaFG?rs=1&pid=ImgDetMain" alt="Fertilizer Recommendation">
                <h3>Fertilizer</h3>
                <p>Recommendation about the type of fertilizer best suited for the particular soil and the recommended crop.</p>
                <a href="/fertilizer"><button class="service-btn">View Details</button></a>
            
            </div>
            <div class="card">
                <img src="https://img.freepik.com/premium-photo/precision-agriculture-farmer-embraces-technology-realtime-plant-disease-scanning-data-analytics_38013-21185.jpg?w=2000" alt="Crop Disease Prediction">
                <h3>Crop Disease</h3>
                <p>Predicting the name and causes of crop disease and suggestions to cure it.</p>
                <a href="/disese"><button class="service-btn">View Details</button></a>
            
            </div>
        </div>
    </section>
    
    <footer>
        <p>&copy; 2025 Assisting Agriculture Using AI</p>
    </footer>
</body>
</html>
